@font-face {
    font-family: 'BBadr';
    src: url('fonts\BBadr.eot#') format('eot'),  <span style="color: #ff6600;">/* IE6–۸ */</span>
         url('../fonts/BBadr.woff') format('woff'),  <span style="color: #ff6600;">/* FF3.6+, IE9, Chrome6+, Saf5.1+*/</span>
         url('fonts/BBadr.ttf') format('truetype');  <span style="color: #ff6600;">/* Saf3—۵, Chrome4+, FF3.5, Opera 10+ */</span>
  }
body{
    background-color: rgb(211, 211, 255);
}